@tailwind base;
@tailwind components;
@tailwind utilities;

.popup-scrollbar::-webkit-scrollbar {
  display: none;
}

.comdetail-scrollbar::-webkit-scrollbar {
  display: none;
}

.variable-scrollbar::-webkit-scrollbar {
  display: none;
}